@media screen and (max-width:400px) {
    .tabcontent {
      background-color: #f1f1f1;
      color: #000;
      display: none;
      padding: 22px 12px;
      border: 1px solid #ccc;
      border-left: none;
      width: 100%;
      height: 450px;
      text-align: center;
      font-size: 30px;
    }

    h6{
      font-size: 14px;
    }
    h4{
      font-size: 20px;
    }
    .tab {
      float: left;
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      height: 450px;
      width: 25%;
    }
    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 32.5px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 9px;
    }
    .tabcontent a{
      font-size: 25px;
      cursor: pointer;
      color: #000;
      border-radius: 50px;
      padding: 10px;
      background-color: #555;
      text-align: center;
    }
    .image{
      max-width: 150px;
      width: 100%;
      height: auto;
      margin-top: 0px;
    }
    #game h6{
      text-align: center;
      margin-bottom: 10px;
    }
    .tabcontent p{
      font-size: 17px;
    }
    .footer{
        text-align: center;
        background-color: #555;
        margin-top: 100px;
        padding: 1px;
      }
      
      .home{
        margin-top: 0px;
        margin-bottom: 0px;
      }
      
      .main{
        text-align: center;
        font-size: 30px;
        padding: 300px 15px 300px;
      }
      
      .second{
        text-align: center;
        margin-top: 0px;
        padding:1px 15px 1410px;
        font-size:30px;
        background-color: #f1f1f1;
        color: #000;
      }
      
      .about{
        text-align: center;
        padding: 1px 1px 1px;
        background-color: #555;
      }
      
      #about{
        padding: 0px 0px 80px;
      }
      
      #projects{
        text-align: center;
        background-color: #555;
        padding: 1px;
        margin-top: 50px;
      }
      .content1 {
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        height: 470px;
        width: 100%;
        font-size: 28px;
      }
      
      .content2 {
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        height: 470px;
        width: 100%;
        font-size: 25px;
      }
      .content3 {
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        height: 470px;
        width: 100%;
        font-size: 30px;
      }
  }